<img src='10215_1.jpg'>

<h1>Формирование датасета с полученной дневной выручкой</h1>

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='yk5Qa9Xq1w5tBc9Ye',
    database='mega'
)

In [3]:
import pandas as pd
import math
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import datetime
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go

In [9]:
revenue_per_month_and_citys = pd.read_sql('SELECT reg_t.title_ru, FROM_UNIXTIME(u_payments.created_at, "%Y-%m-%d") AS t_date, SUM(u_payments.amount) AS sum_amount \
                                        FROM mega.user_payments AS u_payments \
                                        INNER JOIN mega.regions AS reg_t ON u_payments.region_id = reg_t.id \
                                        WHERE status IN (2,5,13) AND uuid is not null AND amount_return is null \
                                        AND (merchant_type IS NULL OR merchant_type <> "fines") AND \
                                        (merchant_type IS NULL OR merchant_type <> "invoices") \
                                        GROUP BY t_date, reg_t.title_ru',mydb)

In [10]:
revenue_per_month_and_citys.to_csv('revenue_by_day.csv')